<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang chủ Quản lý Rạp phim</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Trang chủ Quản lý Rạp phim</h1>
    <ul>
        <li><a href="/phim">Quản lý Phim</a></li>
        <li><a href="/ve">Quản lý Vé</a></li>
        <li><a href="/khachhang/them">Quản lý Khách Hàng</a></li>
        <li><a href="/ghe">Quản lý Ghế</a></li>
        <li><a href="/doan">Quản lý Đồ Ăn</a></li>
        <li><a href="/suatchieu">Quản lý Suất Chiếu</a></li>
        <li><a href="/phongchieu">Quản lý Phòng Chiếu</a></li>
        <li><a href="/danhgia">Quản lý Đánh Giá</a></li>
        <li><a href="/voucher">Quản lý Voucher</a></li>
        <li><a href="/taikhoan">Quản lý Tài Khoản</a></li>
    </ul>
</body>
</html> 